DATABASE_URL="postgresql://malina:malinaAdminP@localhost:5433/malina?schema=public"

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_REVIEW_CHAT_ID=
TELEGRAM_ADMIN_IDS=502773482,111111

ADMIN_CREDENTIAL=malinaAdminP
ADMIN_SESSION_DAYS=14
PUBLIC_SITE_URL=https://malina.kiruhak11.ru
BOT_FORWARD_URL=http://localhost:3000/api/telegram/webhook
